html{
    background-color: white;
    color: black;
    height:100vh;
}
button{
    background-color: white;
    color: black;
    padding: 0.5em;
    font-size: 15px;
    font-weight: bold;
    width: 10em;
    font-family: "Times New Roman", times, serif;
    text-align: center;
    border-radius: 0.3em;
}
.page_heading{
    text-align: center;
    font-size: 25px;
}
#final{
    margin-left:50%;
}